@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    font-family: "Inter";
}


/******Footer*/

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #fff;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.signup-page {
  background-color: #09090B;
  height: 100vh;
  color: #fff;
  display: flex;
}

.signup-name {
display: flex;
}

.signup-name input {
margin-right: 10px;
}

.signup-title {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.signup-form {
  max-width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
}
.signup-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup-img{

  background-image: url("https://wallpapers.com/images/hd/modern-beautiful-house-x1yu28g8twzle26l.jpg");
  background-repeat: no-repeat;
  background-size: cover;
background-color: #09090b;
flex: 0 0 55%;
}


@media screen and (max-width: 991px) {

  .header {
    padding: 0 1rem;
  } 
  .signup-img {
      display: none;
  }
     .signup-title h1 {
        font-size: 2em; /* Ajustement pour les petits écrans */
    }

    .signup-title h4 {
        font-size: 1em; /* Ajustement pour les petits écrans */
    }
}


/****/
